body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app{
  background-image: radial-gradient(#030101, #2e68e5);
background-image: radial-gradient(circle at top right, #301b04, rgb(11, 52, 80), #2e31e5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-h1{
  color: wheat;
  border: #ccb0b0 solid 0.1rem;
  padding: 1%;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.425);
}



.container {
  max-width: 962px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;

}



.note {
  background-color: rgb(253, 253, 108);
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;


}



.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}



.note.new {
  background-color: aqua;

}

textarea {
  background-color: aqua;
  border: none;
  resize: none;

}

textarea:focus {
  outline: none;
}

.save {
  background-color: aliceblue;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: grey;
  cursor: pointer;
}

.delete-icon{
  cursor: pointer;
  font-size: 2rem;
}

.delete-icon:hover{
  color: rgba(19, 4, 2, 0.623);
}

.search{
  display: flex;
  align-items: center;
  background-color: wheat;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1rem;

}

.search input{
  border: none;
  background-color: wheat;
}
.search input:focus{
  outline: none;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.dark-mode{
  background-color: black;

}

.dark-mode h1{
  color: aliceblue;
}